<footer class="footer">
    <div class="site-identity">
      <p><a href="#">&#169;
        <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></a> | Mini Blog Project 3</p>
    </div>
  </footer>
  