
<header class="header">
  <link rel="stylesheet" href="./public/style.css">
  <div class="site-name">
    <h1><a href="#">Mini Blog<br>Project</a></h1>
  </div>
  <nav class="navigation">
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/home">View Blogs</a></li>
      
    
    </ul>
  </nav>
</header>


